<div
  class="guest"
  description="Pour afficher des noms et informations d'un invité"
  title="Guest"
  suffix="guest_"
  script="start_guest, stop_guest"
  tag="guest, invité"
  slot="4"
  inputs="text:name_guest, text:fonction_guest, text:pseudo_guest"
>
  <div class="guest-container" style="animation: none; display: none">
    <div class="name-line" id="name-line"></div>
    <div class="fonction-line" id="fonction-line"></div>
    <div class="pseudo-line" id="pseudo-line"></div>
  </div>
</div>

<script>
  async function start_guest(suffix = '') {
    await new Promise((resolve) => setTimeout(resolve, 200))
    const container = document.querySelector('.guest-container')

    container.style.animation = 'none'

    const inputs = ['name', 'fonction', 'pseudo']

    const resSlot = await fetch(
      `/api/actions/input/guest${suffix ? '+' + suffix : ''}_slot`
    )
    const slotStr = (await resSlot.text()) || '1'
    const slot = parseInt(slotStr)

    const overlay = document.querySelector('#overlay')

    const guestContainer = overlay.querySelector('.guest')
    if (guestContainer) {
      const guestContainerWidth = overlay.offsetWidth

      const segment = Math.floor(guestContainerWidth / 4)
      guestContainer.style.left = `${segment * slot - segment}px`
    }

    for (const input of inputs) {
      const res = await fetch(
        `/api/actions/input/${input}_guest${suffix ? '_' + suffix : ''}`
      )
      const value = await res.text()
      const element = document.getElementById(`${input}-line`)
      if (element) {
        element.textContent = value
      }
    }

    container.style.display = 'block'
    const nameLine = document.getElementById('name-line')
    const fonctionLine = document.getElementById('fonction-line')
    const pseudoLine = document.getElementById('pseudo-line')
    const guest = document.querySelector('.guest')

    guest.style.display = 'block'
    container.style.animation = 'guest-slide-in 500ms ease-out forwards'
  }

  function stop_guest() {
    const container = document.querySelector('.guest-container')
    const nameLine = document.getElementById('name-line')
    const fonctionLine = document.getElementById('fonction-line')
    const pseudoLine = document.getElementById('pseudo-line')
    const guest = document.querySelector('.guest')

    container.style.animation = 'guest-slide-out 500ms ease-in forwards'

    setTimeout(() => {
      guest.style.display = 'none'
    }, 500)
  }

  globalThis.start_guest = start_guest
  globalThis.stop_guest = stop_guest
</script>

<style>
  :root {
    --color-bg: #f2f2f2;
    --color-primary: #4088cf;
    --color-white: #fff;
    --color-border: #ccc;
    --color-secondary: #e84855;
    --color-tertiary: #70cbe6;
    --color-text: #000;
    --color-accent: #d9534f;
    --color-valid: #4caf50;
    --color-brain: #d433a9;
    --color-error: #ad2626;
    --color-success: #00ff00;
    --color-info: #17a2b8;
    --color-warning: #ffc107;
    --color-discord: #5468ff;
    --color-discord-hover: #656c85cc;
  }

  .guest {
    position: absolute;
    bottom: 8em;
    left: 0;
    padding-left: 4em;
    z-index: 1000;
    font-family: Bebas Neue;
  }

  .guest-container {
    position: relative;
    font-size: 1.5em;
    background: var(--color-bg);
    color: var(--color-text);
    padding: 1em 1.5em;
    min-width: 10em;
    border-left: 2em solid var(--color-primary);
  }

  .name-line {
    font-size: 2em;
    font-weight: bold;
    text-transform: uppercase;
    color: var(--color-text);
  }

  .fonction-line {
    font-size: 1.5em;
    line-height: 1.2;
    color: var(--color-primary);
    font-style: italic;
  }

  .pseudo-line {
    font-size: 1.2em;
    color: var(--color-info);
    font-style: italic;
  }

  @keyframes guest-slide-in {
    0% {
      transform: translateX(-100%);
      opacity: 0;
      background-color: var(--color-primary);
      border-left-width: 20em;
    }

    70% {
      border-left-width: 5em;
    }

    100% {
      transform: translateX(0);
      opacity: 1;
      border-left-width: 2em;
    }
  }

  @keyframes guest-slide-out {
    0% {
      transform: translateX(0);
      opacity: 1;
    }
    100% {
      transform: translateX(-100%);
      opacity: 0;
      background-color: var(--color-primary);
    }
  }
</style>
